<div class="container mt-5" th:fragment="addvideo">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
      <h3>Lisää video</h3>
      <form action="#" th:action="@{/readingTips/videos/add}" th:object="${videoAddForm}" method="POST">
        <div class="form-group">
          <label for="title">Otsikko</label>
          <input type="text" id="title" name="title" th:field="*{title}" class="form-control" placeholder="Otsikko"
                 required autofocus/>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></strong></p>
        </div>
        <div class="form-group">
          <label for="description">Kuvaus</label>
          <textarea type="text" id="description" name="description" th:field="*{description}" class="form-control"
                 placeholder="Kuvaus" required/>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}"
             th:errors="*{description}"></strong></p>
        </div>
        <div class="form-group">
          <label for="author">Tekijä</label>
          <input type="text" id="author" name="author" th:field="*{author}" class="form-control" placeholder="Tekijä"
                 required/>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></strong></p>
        </div>
        <div class="form-group">
          <label for="url">Url</label>
          <input type="text" id="url" name="url" th:field="*{url}" class="form-control" placeholder="Url" required/>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></strong></p>
        </div>
        <button class="btn btn-primary" type="submit" id="buttonadd">Lisää</button>
      </form>
    </div>
  </div>
</div>
