<main th:fragment="index">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading" th:inline="text">Hei [[${ customUser.name }]]!</h1>
      <p class="lead text-muted">
        Minkälaista lukuvinkkiä etsit? Alempana voit myös selata tai hakea vanhoja lukuvinkkejä.
      </p>
      <p class="pt-2">
        <a href="/readingTips/articles" class="btn btn-success btn-lg mx-1">Artikkeli</a>
        <a href="/readingTips/books" class="btn btn-success btn-lg mx-1">Kirja</a>
        <a href="/readingTips/links" class="btn btn-success btn-lg mx-1">Linkki</a>
        <a href="/readingTips/videos" class="btn btn-success btn-lg mx-1">Video</a>
        <a href="/search" class="btn btn-info btn-lg mx-1">Tarkennettu haku</a>
      </p>
    </div>
  </section>
</main>
