<main th:fragment="index">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading" th:inline="text">Hei [[${ customUser.name }]]!</h1>
      <p class="lead text-muted">Tässä ovat koottuna sinun lukuvinkkisi.</p>
    </div>
  </section>

  <!--
    <form th:action="@{/resetSearch}" method="POST">
      <div class="form-group">
        <button class="btn btn-danger" type="submit">Peruuta haku</button>
      </div>
    </form>
  -->
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Otsikko</th>
          <th scope="col">Kuvaus</th>
          <th scope="col">Linkki</th>
          <th scope="col">Toiminto</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="readingTip : ${readingTips}" th:id="@{tip{id}(id=${readingTip.id})}">
          <td class="tiptitle"><a th:text="${readingTip.title}" th:href="@{/readingTips/view/{id}(id=${readingTip.id})}"></a></td>
          <td th:text="${readingTip.description}"></td>
          <td th:text="${readingTip.url}"></td>
          <td>
            <form th:action="@{/readingTips/markAsRead/{id}(id=${readingTip.id})}" method="POST">
              <button class="btn btn-primary buttonread" type="submit" th:attrappend="disabled=${readingTip.isRead()}?true" th:text="${readingTip.isRead() ? 'Luettu!' : 'Merkitse luetuksi'}"></button>
            </form>
            <form th:action="@{/readingTips/delete/{id}(id=${readingTip.id})}" method="POST">
              <button class="btn btn-danger buttondelete" type="submit">Poista</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  
    <h3>Lisää uusi lukuvinkki:</h3>
  
    <form th:action="@{/readingTips/new}" method="POST">
      <div class="form-group">
        <label for="title">Otsikko</label>
        <input type="text" id="title" name="title" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="description">Kuvaus</label>
        <input type="text" id="description" name="description" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="url">Linkki</label>
        <input type="text" id="url" name="url" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="author">Tekijä tai kirjoittaja</label>
        <input type="text" id="author" name="author" class="form-control" required/>
      </div>
      <button class="btn btn-primary" type="submit" id="buttonadd">Lisää</button>
    </form>
  
    <br>
  
    <h3>Vaihda salasana</h3>
  
    <form th:action="@{/editPassword}" method="POST">
      <div class="form-group">
        <label for="newPassword">Uusi salasana</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="verifyNewPassword">Uudelleen</label>
        <input type="password" id="verifyNewPassword" name="verifyNewPassword" class="form-control" required/>
      </div>
      <button class="btn btn-primary" type="submit" id="buttonchange">Vaihda</button>
    </form>
  </div>
</main>

