<main th:fragment="viewtip">
  <div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 col-md-8">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title" th:text="${readingTip.title}" id="tiptitle"></h4>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${readingTip.author}" id="tipauthor"></h6>
            <p class="card-text" th:text="${readingTip.description}" id="tipdescription"></p>
          
          <p>
            <div class="tipurl" th:remove="${readingTip.url} ? none : all">
              <a th:href="@{{url}(url=${readingTip.url})}" th:text="${readingTip.url}" id="tipurl"></a>
            </div>
            <div class="tipisbn" th:remove="${readingTip.isbn} ? none : all">
                <a th:href="@{https://helka.finna.fi/Search/Results?lookfor={isbn}&type=AllFields&dfApplied=1&limit=20 (isbn=${readingTip.isbn})}" id="tipisbn" th:text=" ${readingTip.isbn}"></a>   
            </div>
            
          </p>
          <div class="card-body" th:insert="fragments/read_delete :: read_delete"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
