<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="navbar">
  <a class="navbar-brand" href="/">Lukuvinkit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Etusivu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profiili</a>
      </li>
    </ul>
    <form class="form-inline mr-sm-3" th:action="@{/searchTips}" method="POST">
      <input type="text" id="keyword" name="keyword" class="form-control mr-sm-2" placeholder="Hae lukuvinkkejä" required>
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Hae</button>
    </form>
    <form class="form-inline mr-2" th:action="@{/logout}" method="POST">
      <button class="btn btn-primary" type="submit" id="buttonlogout">Kirjaudu ulos</button>
    </form>
  </div>
</nav>