<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="navbar">
  <a class="navbar-brand" href="/">Lukuvinkit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Etusivu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profiili</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Haku</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" role="button" data-toggle="dropdown">Kategoriat</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/readingTips/books">Kirja</a>
          <a class="dropdown-item" href="/readingTips/articles">Artikkeli</a>
          <a class="dropdown-item" href="/readingTips/videos">Video</a>
          <a class="dropdown-item" href="/readingTips/links">Linkki</a>
        </div>  
      </li>
    </div>
    <form class="form-inline my-2 my-md-0" th:action="@{/logout}" method="POST">
      <button class="btn btn-primary" type="submit" id="buttonlogout">Kirjaudu ulos</button>
    </form>
  </div>
</nav>