<nav id="sidebar-wrapper" class="bg-light" th:fragment="sidebar">
  <div class="row">
    <div class="col">
      <h3 class="text-center">Uusi lukuvinkki</h3>
      <form action="#" th:action="@{/readingTips/add}" th:object="${readingTipAddForm}" method="POST">
        <div class="form-group">
          <label for="category">Tyyppi</label>
          <select id="category" name="category" class="form-control" th:field="*{category}">
            <option value="articles">Artikkeli</option>
            <option value="books">Kirja</option>
            <option value="links">Linkki</option>
            <option value="videos">Video</option>
          </select>
        </div>
        <div class="form-group">
          <label for="title">Otsikko</label>
          <input type="text" id="title" name="title" th:field="*{title}" class="form-control" placeholder="Otsikko"
                required autofocus/>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></strong></p>
        </div>
        <div class="form-group">
          <label for="description">Kuvaus</label>
          <textarea type="text" id="description" name="description" th:field="*{description}" class="form-control"
                    placeholder="Kuvaus" required>
          </textarea>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"></strong></p>
        </div>
        <div class="form-group">
          <label for="author">Tekijä</label>
          <input type="text" id="author" name="author" th:field="*{author}" class="form-control" placeholder="Tekijä"
                required/>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></strong></p>
        </div>
        <div class="form-group">
          <label for="tags">Tagit</label>
          <input type="text" id="tags" name="tags" th:field="*{tags}" class="form-control" placeholder="Erota välilyönneillä" />
          <p class="alert alert-danger" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}"></strong></p>
        </div>
        <div class="form-group" id="isbn-div" style="display:none;">
          <label for="isbn">ISBN</label>
          <input type="text" id="isbn" name="isbn" th:field="*{isbn}" class="form-control" placeholder="ISBN"/>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></strong></p>
          <button class="btn btn-secondary btn-sm" type="button" id="buttonautofillbook">Hae otsikko ja tekijät</button>
          <script th:src="@{'~/js/addbook.js'}"></script>
        </div>
        <div class="form-group" id="url-div" style="display:none;">
          <label for="url">URL</label>
          <input type="text" id="url" name="url" th:field="*{url}" class="form-control" placeholder="URL"/>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></strong></p>
          <button class="btn btn-secondary btn-sm" type="button" id="buttonautofilllink">Hae otsikko ja kuvaus</button>
          <script th:src="@{'~/js/addlink.js'}"></script>
        </div>
        <button class="btn btn-primary btn-lg" type="submit" id="buttonadd">Lisää</button>
      </form>
    </div>
  </div>
</nav>
