<table class="table" th:fragment="table">
  <thead>
    <tr>
      <th scope="col">Otsikko</th>
      <th scope="col">Kuvaus</th>
      <th scope="col">Linkki</th>
      <th scope="col">Toiminto</th>
    </tr>
  </thead>
  <tbody>
    <tr class="searchresult" th:each="readingTip : ${readingTips}" th:id="@{tip{id}(id=${readingTip.id})}">
      <td class="tiptitle">
        <a th:text="${readingTip.title}" th:href="@{/readingTips/view/{id}(id=${readingTip.id})}"></a>
      </td>
      <td th:text="${readingTip.description}"></td>
      <td>
        <div class="tipurl" th:remove="${readingTip.url} ? none : all">
          <a th:href="${readingTip.url}" th:text="${readingTip.url}" id="tipurl"></a>
        </div>
        <div class="tipisbn" th:remove="${readingTip.isbn} ? none : all">
          <a th:href="@{https://helka.finna.fi/Search/Results?lookfor={isbn}&type=AllFields&dfApplied=1&limit=20 (isbn=${readingTip.isbn})}" id="tipisbn" th:text="${readingTip.isbn}"></a>
        </div>  
      </td>
      <td>
        <div th:replace="fragments/read_delete :: read_delete"></div>
      </td>
    </tr>
  </tbody>
</table>
