<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Lukuvinkit</title>
</head>
<body>

<h2>Hei <span th:text="${customUser.name}"></span>!</h2>

<h3>Lukuvinkkisi:</h3>

<table border="1">
    <thead>
    <tr>
        <th>Otsikko</th>
        <th>Kuvaus</th>
        <th>Url</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <form th:action="@{/deleteReadingTip}" method="POST">
        <tr th:each="readingTip : ${readingTips}">
            <td th:text="${readingTip.title}"></td>
            <td th:text="${readingTip.description}"></td>
            <td th:text="${readingTip.url}"></td>
            <td><button type="submit">Poista</button></td>
        </tr>
    </form>
    </tbody>
</table>

<h3>Lisää uusi lukuvinkki:</h3>

<form th:action="@{/newReadingTip}" method="POST">
    <div>
        <label>Otsikko:</label>
        <input type="text" name="title"/>
    </div>
    <div>
        <label>Kuvaus:</label>
        <input type="text" name="description"/>
    </div>
    <div>
        <label>Url:</label>
        <input type="text" name="url"/>
    </div>
    <button type="submit">Lisää</button>
</form>

<h3>Vaihda salasana:</h3>

<form th:action="@{/editPassword}" method="POST">
    <div>
        <label>Uusi salasana:</label>
        <input type="password" name="newPassword"/>
    </div>
    <div>
        <label>Uudelleen:</label>
        <input type="password" name="newPasswordAgain"/>
    </div>
    <button type="submit">Vaihda</button>
</form>

<p></p>

<form th:action="@{/logout}" method="POST">
    <button type="submit">Kirjaudu ulos</button>
</form>

</body>
</html>
